<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Информация о почтовом индексе</title>
</head>
<body>
  <div class="container">
    <h1>Информация о почтовом индексе</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="postalCode">Почтовый индекс:</label>
          <input type="text" class="form-control" id="postalCode" name="zip_code" placeholder="Введите почтовый индекс">
        </div>
        <div>
            <button type="submit" class="btn btn-success">Узнать</button>
        </div>
    </form>

      {% if city %}
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ city }}</h5>
        <p class="card-text">Широта: {{ latitude }}</p>
        <p class="card-text">Долгота: {{ longitude }}</p>
        <p class="card-text">Район: {{ district }}</p>
        <p class="card-text">Короткое название района: {{ short_district }}</p>
      </div>
    </div>
      {% endif %}
  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>